
<% if(currentUser) {%>
  <h3> Wellcome back <%=currentUser.username%></h3>
  <form  action="/sessions?_method=DELETE" method="POST">
    <input type="submit" value="logout">
  </form>
<%} else if(!currentUser) {%>
  <a href="/arts/new">upload</a>

  <a href="/sessions/new">Login</a>
  <a href="/users/new">Sign up</a>
  
<%}%>




