
<% if(currentUser) {%>
  <form  action="/sessions?_method=DELETE" method="POST">
    <h3> Wellcome back <%=currentUser.username%></h3>
    <input class="nav_link" id="log_out" type="submit" value="logout">
  </form>

<%} else if(!currentUser) {%>
  
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Sign up</a>
  
<%}%>




