
<% if(currentUser) {%>
  <div class="right_nav">  
    <span class="greet_user">sup! <%=currentUser.username%></span>
    <!-- <a href="/users/<%currentUser.id%>/profile">profile</a> -->
    <form class="logout"  action="/sessions?_method=DELETE" method="POST">
      <input id="log_out" type="submit" value="logout">
    </form>
  </div>

<%} else if(!currentUser) {%>
  
  <div class="no_user"> </div>
  <a class="nav_link" href="/sessions/new">Login</a>
  <a class="nav_link" href="/users/new">Sign up</a>
  
<%}%>




