
<% if(currentUser) {%>
  <h3> Wellcome back <%=currentUser.username%></h3>
  <a href="">logout</a>
<%} else if(!currentUser) {%>
  <a href="/sessions/new">Login</a>
  <a href="/users/new">Sign up</a>
<%}%>




