<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <nav>
    <%- include ('./partials/nav.ejs') %>
    <a href="/arts/">explore</a>
  </nav>
  <h1>home</h1>
</body>
</html>