<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <!-- <nav>
    <a href="/arts/new">upload</a>
    <%- include ('./partials/nav.ejs') %>
    <a href="/arts">explore</a>

  </nav> -->
  <!-- <h1>home</h1> -->

  <div class="main">
    <div class="container">
      <div class="intro" id="one">
        <span class="titles">
          EXERCISE
          <br>
          YOUR
          <br>
          CREATIVE
          <br>
          SIDE!
        </span>
        <p class="intro_text">
          Express yourself.
          Whether it's free hand, painting, sculpture or animation;
          share your story through your preferred media with the world.
        </p>
      </div>
      <div class="intro" id="two">
        <span class="titles">
          CREATE, SHARE
          <br>
          AND LINK UP!
        </span>
        <p class="intro_text">
          Share your creations with the world 
          and connect with people 
          that have the same passoin.
        </p>
        
      </div>
      <div class="intro" id="three">
        <p id="last_intro">
          Are you a writer looking for an artist
          or vice versa?
          connect with others and collaborate. 
        </p>
        
      </div>
    </div>
    <div class="overlayer">
      <nav>
        <a href="/sessions/new">Login</a>
        <a href="/users/new">Sign up</a>
      </nav>
    </div>
  </div>
  

  </div>
</body>
</html>