<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Show the world</title>
</head>
<body>
  <nav>
    <a href="/arts">Explore</a>
    <%- include ('./partials/nav.ejs') %>
  </nav>
  <div class="formwrap">
    <h1>Upload your work</h1>
    <span class="ua-experience">Created for creators.</span>
    <form action="/arts" method="POST">
      <label for="tiltle">Title</label>
      <input  name="title" type="input">
      <label for="description">Description</label>
      <input  name="description" type="input">
      <label for="tags">Tags</label>
      <input name="tags" type="input">  
      <label for="img">image</label>
      <input name="img" type="text">
      <label for="collaborate">Collab</label>
      <input name="collaborate" type="checkbox">
      <label for="seeking">Seeking</label>
      <input type="string" name="seeking">
      <input type=submit value="excite the world">
    <form>
  </div>
    <!-- <form action="/arts" method="POST">
      <label for="tiltle">Title</label>
      <input  name="title" type="input">
      <label for="description">Description</label>
      <input  name="description" type="input">
      <label for="tags">Tags</label>
      <input name="tags" type="input">  
      <label for="img">image</label>
      <input name="img" type="text">
      <label for="collaborate">Collab</label>
      <input name="collaborate" type="checkbox">
      <label for="seeking">Seeking</label>
      <input type="string" name="seeking">
      <input type=submit value="excite the world">
    </form>
  </div> -->
</body>
</html>