<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show the world</title>
</head>
<body>
  <na>
    <a href="/">home</a>
  </na>
  <div class="container">
    <h1>add images</h1>
    <form action="/arts" method="POST">
      <label for="tiltle">Title</label>
      <input  name="title" type="input">
      <label for="description">Description</label>
      <input  name="description" type="input">
      <label for="tags">Tags</label>
      <input name="tags" type="input">  
      <label for="img">image</label>
      <input name="img" type="text">
      <label for="collaborate">Collab</label>
      <input name="collaborate" type="checkbox">
      <label for="seeking">Seeking</label>
      <input type="string" name="seeking">
      <input type=submit value="excite the world">
    </form>
  </div>
</body>
</html>