<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/">home</a>
  </nav>
  <h1><%=upload.title%></h1>
  <div class="edit_upload">
    <a href="/arts/<%=upload.id%>/edit">edit upload</a>
  </div>
  
</body>
</html>