* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #3D3D3D;
	font-weight: 300;
	background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
  background-color: #EDEDED;
}
.clear-fix {
	clear: both;
}

.main {
  position: relative;
  overflow: hidden;
}
.overlayer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 7%;
  display: flex;
  background-color: #e2e2e21c;
}
.home_nav {
  width: 100%;
  font-size: 2.3em;
  text-align: center;
  align-self: end;
}
.nav_link {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  width: 20%;
  padding: 10px 15px;
  font-weight: 500;
  color: #3D3D3D;
  background: -webkit-linear-gradient( #fcfafa71, #fcfbfb85);
  background-color: #ededed69;
 

}
#link_left {
  background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);

}
#link_right {
  color:#202D85;
}
.container {
  display: flex;
  align-content: center;
  overflow: hidden;
  position: absolute;
  perspective: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.intro {
  background-color: cadetblue;
  padding: 5% 3%;

}
#one {
  background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background-color: #55F5AF; 
  /* clip-path: polygon(50% 0%, 100% 100%, 82% 100%, 0% 100%, 0% 20%); */
}
#two {
  background: -webkit-linear-gradient(left, #FF2A59, #FF4959);
  background: -moz-linear-gradient(left, #FF2A59, #FF4959 );
  background-color: #FF2A59;
  border-left: 5px solid #fcfafa;
  border-right: 5px solid #fcfafa;
  color: #fcfafa;
  /* clip-path: polygon( 0% 0%,50% 0%, 100% 38%, 82% 100%, 18% 100%); */
}
#three {
  background: -webkit-linear-gradient(top, #666666, #4F4F4F);
  background: -moz-linear-gradient(top, #666666, #4F4F4F);
  background-color: #666666;
  color: #55F5AF; 
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#last_intro {
  font-weight: 600;
  font-size: 1.4em;
}
/*end of main */
.titles {
  font-weight: 800;
  font-size: 3.3em;
}
.intro_text {
  font-size: 1.3em;
  margin: 6% 0; 
  font-weight: 400;
}
