* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #665353;
	font-weight: 300;
	background: -webkit-linear-gradient( #fcfafa, #fcfbfb);
  background-color: #EDEDED;
}

.clear-fix {
	clear: both;
}
a {
  text-decoration: none;
}

.index_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.index_h1 {
  margin-top: 10px;
}
.upload_link {
  padding: 7px 25px;
  border: 0;
  background-color:  #202D85; 
  color: #EDEDED;
}
.logout {
  margin-left: 15px ;
}
#log_out {
  padding: 7px 25px;
  border: 0;
  background-color: #FF2A59;
  color: #EDEDED;
}
#log_out:hover {
  cursor: pointer;
}
.right_nav {
  display: flex;
  align-items: center;
}
/* home */
nav {
  padding: 2% 7%; 
  display: flex;
  align-content: center;
}
.main {
  position: relative;
  overflow: hidden;
}
.overlayer {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 7%;
  display: flex;
  background-color: #e2e2e21c;
}
.home_nav {
  width: 100%;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 400;
  text-align: center;
  align-self: end;
}
.home_nav_link {
  width: 20%;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
  color: #3a3a3a;

}
.nav_link {
  text-decoration: none;
  display: inline-block;
  color:#202D85;
  border: 2px solid;
  width: 20%;
  text-align: center;
  padding: 6px 15px;
  font-weight: 500;
  background: -webkit-linear-gradient( #fcfafa71, #fcfbfb85);
  background-color: #ededed69;
}
#link_left {
  color: #202D85;
  border:  2px solid ;
  background : -webkit-linear-gradient( #fcfafa71, #fcfbfb85) ;
  background-color: #ededed69;
}
#link_right {
  color: #fcfafa;;
  border: 2px solid#202D85;
  background-color: #202D85;
 
}
.container {
  width: 100%;
  display: flex;
  align-content: center;
  overflow: hidden;
  position: absolute;
  perspective: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.intro {
  padding: 5% 3%;
}
#one {
  background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background-color: #55F5AF; 
  /* clip-path: polygon(50% 0%, 100% 100%, 82% 100%, 0% 100%, 0% 20%); */
}
#two {
  background: -webkit-linear-gradient(left, #FF2A59, #FF4959);
  background: -moz-linear-gradient(left, #FF2A59, #FF4959 );
  background-color: #FF2A59;
  border-left: 5px solid #fcfafa;
  border-right: 5px solid #fcfafa;
  color: #fcfafa;
  /* clip-path: polygon( 0% 0%,50% 0%, 100% 38%, 82% 100%, 18% 100%); */
}
#three {
  background: -webkit-linear-gradient(top, #666666, #4F4F4F);
  background: -moz-linear-gradient(top, #666666, #4F4F4F);
  background-color: #666666;
  color: #55F5AF; 
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
#last_intro {
  font-weight: 600;
  font-size: 1.4em;
}
/*end of main */
.titles {
  font-weight: 800;
  font-size: 3.3em;
}
.intro_text {
  font-size: 1.3em;
  margin: 6% 0; 
  font-weight: 400;
}

.formwrap {
  width: 40%;
  padding: 3%;
  border: 2px solid #202D85; 
  margin: 0 auto
}

input {
  width: 100%;
  padding: 13px 8px;
  margin: 15px 0 9px 0;
  font-size: .8em;
  border: .5px solid #3D3D3D;
  box-sizing: border-box;
}
.nav_link:hover {
  background-color: #FF2A59;
  cursor: pointer;
}


/* index page */
.index_nav {
  padding: 1% 3%;
}
.upload_container {
  width: 100%;
  display: inline-block;
  padding: 5% 3%;
}
.index_h1 {
  padding: 0 3%;
  width: fit-content;
  text-decoration: underline;
}

.upload_wrap {
  width: 100%;
  display:  flex;
  padding: 20px 0;
  gap: 2.5%;
  float: left; 
  border-top: 30px solid #666666;
  border-bottom: 30px solid #55F5AF;
}
.upload {
  flex-basis: 30%;
  display: inline-table;
  padding: 10px;
  border: 2px solid #202D85;
  border-radius: 20px;
  /* background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  background-color: #55F5AF;  */
  float: left;
}
img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border: 1px solid #202D85;
  border-radius: 20px;

}


/* show */
.show_container {
  padding: 3% 3%;
  width: 80%;
  margin: auto;
}

.show_upload {
  display: flex;
  border: 2px solid #202D85;
  border-radius: 20px;
  justify-content: space-evenly;
  padding: 20px;
}
.upload_img {
  width: 50%;
  height: fit-content;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload_info {
  width: 45%;
  padding: 20px;
}
.upload_title {
  font-size: 2em;
  font-weight: 600; 
  color: rgb(87, 87, 87);
  text-decoration: underline;
}
#description {
  font-weight: 500;
  margin: 5px 0;
}
.info {
  margin: 20px 0;
  padding: 10px;
}
#price {
  font-weight: 300;
  font-size: 2.5em;
}
.info {
 
}
h4 {
  padding: 10px 0;
}
.button {
  width: 150px;
  padding: 12px 20px;
  border: none;
  background-color: tomato;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  background-color: thistle;
}
.edit_product {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background-color: rgb(201, 202, 204);
  margin-top: 20px;
}
.like_form {
  
}
.like_button {
  border: 0;
  box-shadow:none;
  font-size: 1.2em;
  background-color: transparent;
}
ul {
  list-style: none;
}
.comment_form {
  margin-top: 50px;
  padding: 5px;
  width: 70%;
  padding: 0
}
.comment-id {
  display: none;
}
.comment_textarea {
  width: 100%;
  padding: 8px;
}
.sub_comment {
  width: fit-content;
  padding: 5px 10px
}
.edit_upload {
  margin: 10px 0;
}

.comments_wrap {
  height: 100px;
  border: 1px solid;
  padding: 10px;
  overflow-y: scroll;
}

.edit_upload {
  margin-top: 20%;
}
.edit_button {
  padding: 5px 10px;
  width: fit-content;
  text-align: center;
  color:rgb(201, 202, 204);
  background-color: #202D85;
}



/* mobile styling */
@media screen and (max-width: 1024px) {
  .overlayer {

  }
}

@media only screen and (max-width: 823px) {
  .overlayer {

  }
}
@media screen and (max-width: 768px) {
  .overlayer {

  }
}

@media screen and (max-width: 640px) { 
  .overlayer {

  }
  .container {
    display: inline-block;
  }
  .intro {
    width: 100%;
  }

}
