<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<body>
    <nav>
      <a class="nav_link" href="/">home</a>
    </nav>
    <div class="formwrap">
      <h1>United We Art</h1>
      <h2>Log in</h2>
      <span class="ua-experience">Welcome back</span>
      <form action="/sessions" method="POST">
        <label for="name">User Name:</label>
        <input type="text" name="username" placeholder="user name" />
        <br>
        <label for="color">Password:</label>
        <input type="password" name="password" placeholder="password" />
        <br>
  
        <input type="submit" value="login">  
        <div class="submit_wrap">
          not a member?
          <a class="nav_link" href="/users/new">signup</a>
  
        </div>
      <form>
    </div>

    <!-- <form action="/sessions" method="POST">
      <label for="name">User Name:</label>
      <input type="text" name="username" required/>
      <br>
      <label for="color">Password:</label>
      <input type="password" name="password" />
      <br>
      <input type="submit" value="Submit">
    <form> -->
</body>
</html>