<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Sign up</title>
</head>
<body>
  <nav>
    <a class="nav_link" href="/">home</a>
  </nav>

  <div class="formwrap">
    <h1>United We Art</h1>
    <h2>sign up</h2>
    <span class="ua-experience">Created for creators.</span>
    <form action="/users" method="POST">
      <label for="name">User Name:</label>
      <input type="text" name="username" placeholder="user name" required />
      <br>
      <label for="color">Password:</label>
      <input type="password" name="password" placeholder="password" />
      <br>
      <input type="submit" value="Submit">  
      <div class="submit_wrap">
       Allready a member?
        <a class="nav_link" href="/sessions/new">Login</a>

      </div>
    <form>
  </div>
</body>
</html>