<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>
  <title>Sign up</title>
</head>
<body>
  <nav>
    <a href="/">home</a>
    <a href="/sessios/new">log in</a>
  </nav>
  <h1>sign up</h1>
  <form action="/users" method="POST">
    <label for="name">User Name:</label>
    <input type="text" name="username" required/>
    <br>
    <label for="color">Password:</label>
    <input type="password" name="password" />
    <br>
    <input type="submit" value="Submit">
  <form>
</body>
</html>